.menu-items-wrapper {
  margin: var(--exo-spacing-none) var(--exo-spacing-x-small);
}

.menu-items-wrapper .dropdown--trigger{
  width: max-content;
}

.sub-menu-item,
.sub-menu-item:hover,
.menu-item,
.menu-item:hover {
  all: unset;
}

.item-wrapper{
  padding: 0px 8px;
  display: flex;
  align-items: center;
}
