.alert-banner-container {
  background-color: var(--exo-color-body);
  padding: var(--exo-spacing-none) var(--exo-spacing-2x-large);
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.alert-banner-container .custom-alert-banner {
  padding: var(--exo-spacing-none);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-banner-container .banner-text .alert-banner-link {
  margin-left: var(--exo-spacing-2x-small);
  text-decoration: underline;
  color: var(--exo-color-font);
  font-feature-settings: "clig" off, "liga" off;
  font-family: var(--exo-font-family);
  font-size: var(--exo-font-size-small);
  font-style: normal;
  font-weight: var(--exo-font-weight-regular);
  line-height: var(--exo-line-height-body);
  letter-spacing: -0.28px;
}

.alert-banner-container .banner-text .alert-banner-link:hover {
  color: var(--exo-color-font-link-hover);
}


@media screen and (min-width: 1400px) {
  .alert-banner-container {
    padding: var(--exo-spacing-none)
    calc(var(--exo-spacing-x-small) + var(--exo-spacing-4x-large));
  }

  .alert-banner-container .custom-alert-banner {
    max-width: 1400px;
  }
}

@media screen and (max-width: 996px) {
    .alert-banner-container {
      padding: var(--exo-spacing-none);
    }
}

@media screen and (max-width: 544px) {
  .alert-banner-container {
    padding: var(--exo-spacing-none);
  }
}
